﻿@model ASP_NET_MVC_CORE.Models.Product
<h2>DeleteProduct</h2>
<form asp-action="DeleteConfirmed" method="post">
    <input type ="hidden" asp-for="Id" />
    <p>Areyou sure you want todelete @Model.Name? </p>
    <button type ="submit" class="btn btn-danger">Delete</button>
</form>
