﻿@model ASP_NET_MVC_CORE.Models.Product

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
<body>
    <div style="text-align:center;">
        <h2>@Model.Name</h2>
        @if (!string.IsNullOrEmpty(Model.ImageUrl))
        {
            <img src="@Model.ImageUrl" alt="Product Image" style="max-width:200px;" />
        }
        <p>Price: @Model.Price</p>
        <p>@Model.Description</p>
        <br />
       
    </div>
    <a asp-action="Index">Backto List</a>
</body>
        
