﻿
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cửa hàng Điện thoại</title>
    <!-- Sử dụng Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">

</head>
<body>
    <header class="bg-success text-white text-center py-4">
        <h1>Cửa hàng Điện thoại</h1>
    </header>
    <!-- Menu điều hướng sử dụng Bootstrap Navbar -->

    <nav class="navbar navbar-expand-lg navbar-dark bg-warning">
        <div class="container">
            <a class="navbar-brand" asp-action="Index">Trang Chủ</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" asp-action="add">Thêm Sản Phẩm</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container mt-4">
                <!-- Hiển thị sản phẩm bằng dạng dòng sản phẩm sử dụng Bootstrap Row và Col -->
                <div class="row row-cols-1 row-cols-md-3 g-4">
                    @foreach (var product in Model)
                    {
                        <div id="product1" class="col">
                            <div class="card" style="border-color:darkorange">
                                <img src="@product.ImageUrl" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">@product.Name</h5>
                                    <p class="card-text">Mô tả: @product.Description</p>
                                    <p class="card-text">Giá: @product.Price</p>
                                    <tr>
                                        <td>
                                            <a asp-action="Display" asp-route-id="@product.Id">View</a>                                           |
                                            <a asp-action="Update" asp-route-id="@product.Id">Edit</a> |
                                            <a asp-action="Delete" asp-route-id="@product.Id">Delete</a>

                                        </td>
                                    </tr>
                                </div>
                            </div>
                        </div>
                    }
                    <!-- Sidebar -->
                   
                    <!-- Sử dụng Bootstrap JS và Popper.js (cần cài đặt trước khi sử dụng Bootstrap JS) -->
                    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
                </div>
     </div>
     <nav>

        <div class="bg-dark text-white p-3" style="text-align:center">
                <h5>Thông tin liên hệ</h5>
                <ul class="list-unstyled">
                    <li><a href="#">Facebook</a></li>
                    <li><a href="#">Twitter</a></li>
                    <li><a href="#">Instagram</a></li>
                    <li><a href="#">LinkedIn</a></li>
                </ul>
            </div>

     </nav>
</body>
</html>