﻿@model ASP_NET_MVC_CORE.Models.Category
<h2>Xác nhận xóa danh mục</h2>

<p>Bạn có chắc chắn muốn xóa danh mục này không?</p>

<form method="post" action="@Url.Action("DeleteConfirmed", "Category", new { id = Model.Id })">
    <input type="hidden" name="id" value="@Model.Id" />
    <div class="form-group">
        <label for="name">Tên danh mục:</label>
        <input type="text" id="name" name="Name" value="@Model.Name" class="form-control" readonly />
    </div>
    <button type="submit" class="btn btn-danger">Xóa</button>
    <a asp-action="Index" class="btn btn-primary">Back</a>
</form>