﻿@model IEnumerable<ASP_NET_MVC_CORE.Models.Category>
<head>
    <link href="~/css/index.css" rel="stylesheet" />
</head>
<h2>Danh sách danh mục</h2>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var category in Model)
        {
            <tr>
                <td>@category.Id</td>
                <td>@category.Name</td>
                <td>
                    <a class="conten" href="@Url.Action("Update", "Category", new { id = category.Id })">Sửa</a> |
                    <a class="conten" href="@Url.Action("Delete", "Category", new { id = category.Id })">Xóa</a>
                </td>
            </tr>
        }
    </tbody>
    <a class="conten" href="@Url.Action("Add", "Category")">Thêm danh mục mới</a>
</table>